# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
.vercel

# Env
.env
.env*.local

# OS / editor
.DS_Store
*.log

# Python
__pycache__/
*.py[cod]
*.pyo

# Accidental lockfiles
/package-lock.json
